<div class="properties-panel-container" [class.disabled]="previewMode()">
  @if (element()) {
    <div class="properties-section">
      <h3 class="section-title">Content</h3>
      @switch (element()!.type) {
        @case ('button') {
          <mat-form-field appearance="fill">
            <mat-label>Text</mat-label>
            <input matInput [(ngModel)]="element()!.text" [disabled]="previewMode()">
          </mat-form-field>
        }
        @case ('input') {
          <mat-form-field appearance="fill">
            <mat-label>Default Value</mat-label>
            <input matInput [(ngModel)]="element()!.text" [disabled]="previewMode()">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Placeholder</mat-label>
            <input matInput [(ngModel)]="element()!.placeholder" [disabled]="previewMode()">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Label</mat-label>
            <input matInput [disabled]="previewMode()">
          </mat-form-field>
        }
        @case ('textarea') {
          <mat-form-field appearance="fill">
            <mat-label>Default Value</mat-label>
            <textarea matInput [(ngModel)]="element()!.text" [disabled]="previewMode()"></textarea>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Placeholder</mat-label>
            <textarea matInput [(ngModel)]="element()!.placeholder" [disabled]="previewMode()"></textarea>
          </mat-form-field>
        }
        @case ('label') {
            <mat-form-field appearance="fill">
                <mat-label>Text</mat-label>
                <input matInput [(ngModel)]="element()!.text" [disabled]="previewMode()">
            </mat-form-field>
        }
      }
    </div>
    <div class="properties-section">
        <h3 class="section-title">Interaction</h3>
        @switch (element()!.type) {
            @case ('button') {
                <div class="button-group">
                    <button mat-button [class.active]="element()!.buttonType === 'button'" (click)="element()!.buttonType = 'button'" [disabled]="previewMode()">Default</button>
                    <button mat-button [class.active]="element()!.buttonType === 'submit'" (click)="element()!.buttonType = 'submit'" [disabled]="previewMode()">Submit</button>
                </div>
            }
        }
        <mat-form-field appearance="fill">
            <mat-label>Event Handlers</mat-label>
            <input matInput placeholder="Trigger queries, control components..." [(ngModel)]="element()!.eventHandlers" [disabled]="previewMode()">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Loading</mat-label>
            <input matInput placeholder="false" [(ngModel)]="element()!.loading" [disabled]="previewMode()">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Disabled</mat-label>
            <input matInput placeholder="false" [(ngModel)]="element()!.disabled" [disabled]="previewMode()">
        </mat-form-field>
        @if (element()!.type === 'input' || element()!.type === 'textarea') {
            <mat-form-field appearance="fill">
                <mat-label>Form data key</mat-label>
                <input matInput placeholder="id" [(ngModel)]="element()!.formDataKey" [disabled]="previewMode()">
            </mat-form-field>
        }
    </div>
    <div class="properties-section">
      <h3 class="section-title">Spacing</h3>
      <div class="button-group">
        <label>Height</label>
        <button mat-button [class.active]="element()!.height === 'auto'" (click)="element()!.height = 'auto'" [disabled]="previewMode()">Auto</button>
        <button mat-button [class.active]="element()!.height === 'fixed'" (click)="element()!.height = 'fixed'" [disabled]="previewMode()">Fixed</button>
      </div>
      @if (element()!.height === 'fixed') {
        <mat-form-field appearance="fill">
          <mat-label>Height</mat-label>
          <input matInput [(ngModel)]="element()!.heightValue" [disabled]="previewMode()">
        </mat-form-field>
      }
      <div class="button-group">
        <label>Margin</label>
        <button mat-button [class.active]="element()!.margin === 'normal'" (click)="element()!.margin = 'normal'" [disabled]="previewMode()">Normal</button>
        <button mat-button [class.active]="element()!.margin === 'none'" (click)="element()!.margin = 'none'" [disabled]="previewMode()">None</button>
      </div>
    </div>
    <div class="properties-section">
      <h3 class="section-title">Appearance</h3>
      <div class="button-group">
        <label>Align</label>
        <button mat-icon-button (click)="element()!.textAlign = 'left'" [class.active]="element()!.textAlign === 'left'" [disabled]="previewMode()">
          <mat-icon>format_align_left</mat-icon>
        </button>
        <button mat-icon-button (click)="element()!.textAlign = 'center'" [class.active]="element()!.textAlign === 'center'" [disabled]="previewMode()">
          <mat-icon>format_align_center</mat-icon>
        </button>
        <button mat-icon-button (click)="element()!.textAlign = 'right'" [class.active]="element()!.textAlign === 'right'" [disabled]="previewMode()">
          <mat-icon>format_align_right</mat-icon>
        </button>
        <button mat-icon-button (click)="element()!.textAlign = 'justify'" [class.active]="element()!.textAlign === 'justify'" [disabled]="previewMode()">
          <mat-icon>format_align_justify</mat-icon>
        </button>
      </div>
    </div>
  }
</div>
