<div class="app-container">
  <app-header [previewMode]="previewMode()" (previewModeChange)="previewMode.set($event)" (clone)="onClone()"></app-header>
  <main class="main-content">
    <app-toolbox ></app-toolbox>
    <app-canvas
      [previewMode]="previewMode()"
      [(items)]="items"
      [(selectedElement)]="selectedElement"
    ></app-canvas>
    <app-right-sidebar
      [selectedElement]="selectedElement()"
      (styleChange)="handleStyleChange($event)"
      (textChange)="handleTextChange($event)"
    ></app-right-sidebar>
  </main>
</div>
