<div class="canvas-container" 
     id="canvas-drop-list"
     cdkDropList 
     [cdkDropListDisabled]="previewMode()"
     [cdkDropListData]="items()" 
     (cdkDropListDropped)="onDrop($event)" 
     (click)="deselectElement()">
  @for (item of items(); track item.id) {
    <div cdkDrag 
         [cdkDragDisabled]="previewMode()"
         [cdkDragFreeDragPosition]="item.position" 
         (cdkDragEnded)="onElementDragEnded($event, item)" 
         (click)="selectElement(item, $event)" 
         [style.left]="item.style.left" 
         [style.top]="item.style.top">
      @switch (item.type) {
        @case ('button') {
          <app-button [item]="item" [selected]="selectedElement()?.id === item.id" [previewMode]="previewMode()"></app-button>
        }
        @case ('input') {
          <app-input [item]="item" [selected]="selectedElement()?.id === item.id" [previewMode]="previewMode()"></app-input>
        }
        @case ('label') {
          <app-label [item]="item" [selected]="selectedElement()?.id === item.id" [previewMode]="previewMode()"></app-label>
        }
        @case ('textarea') {
          <app-textarea [item]="item" [selected]="selectedElement()?.id === item.id" [previewMode]="previewMode()"></app-textarea>
        }
      }
    </div>
  }
</div>
