<div class="toolbox-container" cdkDropList id="toolbox-drop-list" [cdkDropListData]="toolboxItems" [cdkDropListConnectedTo]="['canvas-drop-list']">
  @for (item of toolboxItems; track item) {
    <mat-card class="toolbox-item" [class.disabled]="previewMode()" cdkDrag [cdkDragData]="item" [cdkDragDisabled]="previewMode()" [matTooltip]="previewMode() ? '' : 'Drag to add a ' + (item | titlecase)">
      <mat-card-header>
        <mat-card-title>{{ item | titlecase }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-icon>{{ getIcon(item) }}</mat-icon>
      </mat-card-content>
    </mat-card>
  }
  </div>
  