<mat-form-field appearance="fill" [style.width]="item().style['width']" [class.selected]="selected()">
  <mat-label>{{ item().text }}</mat-label>
  <textarea matInput 
            [placeholder]="item().placeholder || ''"
            [style.height]="item().style['height']"
            [style.fontSize]="item().style['font-size']"
            [style.fontWeight]="item().style['font-weight']"
            [disabled]="item().disabled === true || item().disabled === 'true'">
  </textarea>
</mat-form-field>
